/*Remeber ALT*/
img[alt=""],
img:not([alt]) {
    border: 5px dashed #ff0000;
}
body {
padding-top: 5rem;    
}

.start-tamplate {
    padding: 3rem;
}
/*CAROUSEL*/
.carousel-caption {
    padding-bottom: 12%; 
}

.carousel-caption h3 {
    font-size: 42px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 24px;
}

    
/*END CAROUSEL    */



/*BUTTONS*/
.btn-info {
    background-color: #21ddfb;
    padding: 1rem 4rem;
}
/*END BUTTONS*/